@tailwind base;
@tailwind components;
@tailwind utilities;

.blue-circle{
  animation-delay: 0.1s!important;
}
.green-circle{
  animation-delay: 0.4s!important;
}
.red-circle{
  animation-delay: 0.7s!important;
}
